*{margin: 0;padding: 0;}
ul,ol{list-style-type: none;}
img{border: 0 none;vertical-align: top;}
a{text-decoration: none;color: #686868;}
body{font-family: '微软雅黑';font-size: 14px;}
.cf:after {content: '';display: table;clear: both;}
.cf{*zoom: 1;}
.comtuinte{ width: 1200px;margin: 0 auto }
.top-container{ width: 1200px;margin: 0 auto;height: 128px;}
.logo-img{ float: left;padding-top: 35px;}
.logo-cumpat{ float: left;border-left: 1px solid #dcdcdc;margin-top: 25px;margin-left: 20px;padding-left: 20px;color: #999;font-size: 12px;line-height: 20px;height: 43px;text-transform: uppercase;}
.search{float: right;padding-top: 25px;}
.search-kw{width: 281px;height: 41px;border: 1px solid #dcdcdc;border-right: 0 none;padding: 0 14px;vertical-align: middle;outline: none;font-family: "Segoe UI Light", Calibri;}
.search-ky{width: 44px;height: 43px;background: #ff5842 url("../images/search.png")no-repeat center center;border: 0 none;vertical-align: middle;cursor: pointer;}
.nav-bar{margin-top: 20px;}
.nav{float: left;}
.nav li{float: left;padding-right: 45px;text-transform: uppercase}
.nav li  a{font-size: 20px;color: #686868;}
.nav li a:hover,.nav li a.on{color:#ff5842; }
.btn-group{float: right;}
.btn-group li{display: inline-block;height: 27px;line-height: 27px;padding: 0 10px;background: #a1a1a1;}
.btn-group li a{color: #fff;}
.btn-group li.on{background: #ff5842;}
.foot-top{background: #222f35;height: 210px;}
.foot-bottom{background: #172125;height: 53px;}
.footer-container{margin-top: 10px;}
.copyright{color: #82a0ad;line-height: 53px;font-weight: bold;float: left;}


