h3{
    line-height: 16px;
    font-size: 24px;
    padding: 28px 45px;
}


.nav-center{
    height: 47px;
    border-top: 5px solid #f24933;
    background: #ff5842;
}
.box{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
/*.box ul{*/
    /*position: relative;*/
/*}*/
.nav-banner ul li{
    float: left;
    padding: 0 16px;
    border-right: 1px solid #f24933;
    font-size: 16px;
    height: 26px;
    line-height: 26px;
    margin-top: 10px;
    cursor: pointer;
}
.nav-banner ul li.one{
    position: relative;
    top: -10px;
    display: block;
    height: 47px;
    line-height: 47px;
    background: #f24933;
}
.nav-banner ul li.end{
    border-right: 0 none;
}
.nav-banner ul li a{
    display: block;
    color: #fff;
}
.nav-banner ul li:hover{
    position: relative;
    top: -10px;
    display: block;
    height: 47px;
    line-height: 47px;
    background: #f24933;
}
.exclusive{
    position: relative;
    /*overflow: hidden;*/
}
.exclusive-h{
    background: url("../images/exclusive.png") no-repeat 0 22px;
}
.wesley{
    width: 386px;
    border-bottom: 5px solid #ff5842;
    float: left;
}
.snips{
    margin-left: 20px;
}
.snipes-freed{
    width: 8000px;
    position: relative;
}
.posted{
    float: left;
}
.wesley-snipes{
    position: relative;
    width: 386px;
    height: 223px;
}
.wesley-snipes-tax{
    position: absolute;
    top: 0;
    width: 386px;
    height: 223px;
    background: #bcbcbc;
}
.wesley-snipes-tax ul{
    position: relative;
    left: 50%;top: 50%;
    margin-left: -45px;
    margin-top: -20px;
}
.wesley-snipes-tax ul li{
    float: left;
    width: 40px;
    height: 41px;
    margin-left: 5px;
}
.wesley-snipes-tax ul li a{
    display: block;
    background: url("../images/wesley-snipes-tax1.png")no-repeat 0 0;
    width: 40px;
    height: 41px;
    opacity: .8;
    filter: alpha(opacity=80);
    text-indent: -9999px;
}
.wesley-snipes-tax ul li a:hover{
    opacity: 1;
    filter: alpha(opacity=100);
}
.wesley-snipes-tax ul li a.wesley-snipes-tax-ionc{
    background-position: -45px 0;
}
.wesley p{
    width: 318px;
    padding: 0 52px 0 16px;
}
.wesley-freed{
    font-size: 18px;
    line-height: 24px;
    color: #1f1f1f;
    margin-top: 20px;
}
.wesley-from{
    font-size: 12px;
    line-height: 25px;
    color: #c9c9c9;
    margin: 10px 0;
}
.wesley-from strong{
    color: #ff5842;
}
.wesley-by{
    width: 382px;
    border-right: 2px solid #f8f8f8;
    border-left: 2px solid #f8f8f8;
}
.topic{
    width: 41px;
    height: 41px;
    position: absolute;
    background: #eeeeee;
    margin-top: 10px;
    cursor: pointer;
    opacity: .8;
    filter: alpha(opacity=80);
}
.topic:hover{
    opacity: 1;
    filter: alpha(opacity=100);
}
.topics-left{
    top: 0;right: 46px;
}
.topics-right{
    top:0;right: 0;
}


.main-left{
    width: 880px;
    height: 800px;
    border: 1px solid red;
    float: left;
    overflow: hidden;
}
.hot-topics{
    background: url("../images/hot.png") no-repeat 0 20px;
}
.evil{
    position: relative;
    border-bottom: 5px solid #ff5842;
}
.evil-img{
    width: 8000px;
    position: relative;
    margin-left: -880px;
}

.evil-img ul li{
    float: left;

}
.dead{
    width: 605px;
    height: 120px;
    background: #2b2b2b;
    position: absolute;
    left: 16px;bottom: 10px;
}
.dead-a{
    font-size: 19px;
    color: #fff;
    padding: 5px 20px;
}
.dead-b{
    font-size: 16px;
    line-height: 21px;
    padding: 0 20px;
    color: #fff;
}
.evil-li{
    position: absolute;
    left: 790px;bottom: 10px;
}
.evil-li ul li{
    float: left;
    width: 41px;
    height: 41px;
    margin-right: 1px;
    background: url("../images/hot-click.png")no-repeat 0 0;
    text-indent: -9999px;
    opacity: .8;
    filter: alpha(opacity=80);
    cursor: pointer;
}
.evil-li li:hover{
    opacity: 1;
    filter: alpha(opacity=100);
}
.evil-li li.hot-click-b{
    background-position: -42px 0;
}





.main-right{
    width: 300px;
    height: 800px;
    float: right;
    border: 1px solid red;
}
.follow-us{
    background: url("../images/follow.png") no-repeat 0 20px;
}